-if evidence.accept?
  %h4 Evidence accepted. You can check your decrees on accounts:
  -accountlist = []
  -evidence.decrees.each { |d| accountlist << d.account }
  -accountlist.uniq.each do |acc|
    %p= link_to acc.full_name, account_path(acc.id), class: 'btn btn-default btn-block'
-else
  -unless evidence.decrees.empty?
    -if evidence.check_balance
      %h4 Decree OK!
      = link_to "Accept", accept_path(evidence.id), method: :patch, class: "btn btn-primary btn-block"
    -else
      %h4 Sums of Dt & Ct aren't equal!
